# IDE and editor files
.idea/
.vscode/

# Build artifacts
build
install
log
dashboard/build
dashboard/install
dashboard/log
raspberry-pi/build
raspberry-pi/install
raspberry-pi/log

# Cache
__pycache__/