# IDE and editor files
.idea/
.vscode/
.ipynb_checkpoints/

# Build artifacts
build
install
log
dashboard/build
dashboard/install
dashboard/log
raspberry-pi/build
raspberry-pi/install
raspberry-pi/log

# Raw data
voice-recognition/data
voice-recognition/scripts/*.wav
voice-recognition/scripts/*.aac

# Cache
__pycache__/
.venv/